<!DOCTYPE html> 
    <html>
        <head>
            <title> Darius (Under 13 ) 200m IM </title>
            <link rel="stylesheet" href="/static/webapp.css"/> 
        </head>
        <body> 
            <h2>  Darius (Under 13 ) 200m IM </h2>
        
            <svg height="30" width="400">
                <rect height="30" width="327.53" style="fill:rgb(0,0,255);"  > 
            </svg>2:52.44 <br />
            
        
            <svg height="30" width="400">
                <rect height="30" width="350.0" style="fill:rgb(0,0,255);"  > 
            </svg>3:04.27 <br />
            
        
            <svg height="30" width="400">
                <rect height="30" width="344.72" style="fill:rgb(0,0,255);"  > 
            </svg>3:01.49 <br />
            
        
            <svg height="30" width="400">
                <rect height="30" width="350.0" style="fill:rgb(0,0,255);"  > 
            </svg>3:04.27 <br />
            
        
            <svg height="30" width="400">
                <rect height="30" width="349.18" style="fill:rgb(0,0,255);"  > 
            </svg>3:03.84 <br />
            
                    <p> Average time: 3:01.26</p>
                    <p> M(50m): 49.45  -  M(25m): 47.78<br />W(50m): 55.18  -  W(25m): 54.05 </p>
            </body>
    </html>
    
