<!DOCTYPE html> 
    <html>
        <head>
            <title> Erika (Under 15 ) 200m Breast </title>
            <link rel="stylesheet" href="/static/webapp.css"/> 
        </head>
        <body> 
            <h2>  Erika (Under 15 ) 200m Breast </h2>
        
            <svg height="30" width="400">
                <rect height="30" width="348.29" style="fill:rgb(0,0,255);"  > 
            </svg>3:33.74 <br />
            
        
            <svg height="30" width="400">
                <rect height="30" width="342.54" style="fill:rgb(0,0,255);"  > 
            </svg>3:30.21 <br />
            
        
            <svg height="30" width="400">
                <rect height="30" width="350.0" style="fill:rgb(0,0,255);"  > 
            </svg>3:34.79 <br />
            
        
            <svg height="30" width="400">
                <rect height="30" width="339.67" style="fill:rgb(0,0,255);"  > 
            </svg>3:28.45 <br />
            
        
            <svg height="30" width="400">
                <rect height="30" width="337.55" style="fill:rgb(0,0,255);"  > 
            </svg>3:27.15 <br />
            
        
            <svg height="30" width="400">
                <rect height="30" width="349.85" style="fill:rgb(0,0,255);"  > 
            </svg>3:34.70 <br />
            
        
            <svg height="30" width="400">
                <rect height="30" width="338.14" style="fill:rgb(0,0,255);"  > 
            </svg>3:27.51 <br />
            
                    <p> Average time: 3:30.94</p>
                    <p> M(50m): 2:05.48  -  M(25m): 2:00.16<br />W(50m): 2:17.55  -  W(25m): 2:14.57 </p>
            </body>
    </html>
    
