<!DOCTYPE html> 
    <html>
        <head>
            <title> Katie (Under 9 ) 100m Breast </title>
            <link rel="stylesheet" href="/static/webapp.css"/> 
        </head>
        <body> 
            <h2>  Katie (Under 9 ) 100m Breast </h2>
        
            <svg height="30" width="400">
                <rect height="30" width="338.95" style="fill:rgb(0,0,255);"  > 
            </svg>1:51.03 <br />
            
        
            <svg height="30" width="400">
                <rect height="30" width="350.0" style="fill:rgb(0,0,255);"  > 
            </svg>1:54.65 <br />
            
        
            <svg height="30" width="400">
                <rect height="30" width="327.01" style="fill:rgb(0,0,255);"  > 
            </svg>1:47.12 <br />
            
        
            <svg height="30" width="400">
                <rect height="30" width="336.11" style="fill:rgb(0,0,255);"  > 
            </svg>1:50.10 <br />
            
                    <p> Average time: 1:50.72</p>
            </body>
    </html>
    
